@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

:root {
  --babyblue: #9eddff;
  --blue: #6499e9;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 9%;
  background: var(--babyblue);
  box-shadow: var(--box-shadow);
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.navlist {
  display: flex;
  padding: 1.4rem 7%;
}
.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.55s ease;
}
.navlist a:hover {
  color: #8a5a02;
}
#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

#menu-icon:hover {
  color: #8a5a02;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: var(--blue);
  position: relative;
  display: flex;
  align-items: center;
}
form {
  max-width: 850px;
}
form .form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form .form-input input {
  padding: 15px 35px;
  width: 100%;
  height: 100%;
  border: none;
  background: white;
  border-radius: 20px;
  outline: none;
}
form .form-input #login {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3481f5;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
form .form-input #login:hover {
  background: var(--babyblue);
}
section {
  padding: 0 15%;
}
p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.hero-img {
  margin-left: auto;
  margin-top: 150px;
}
.hero-img img {
  height: 500px;
  width: auto;
}
